* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;

  .container {
    width: 100%;
    height: 100%;
    background-color: green;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x:hidden;

    section {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      scroll-snap-align: start;

      h1 {
        font-size: 15em;
        font-family: Arial, Helvetica, sans-serif;
      }

      &:nth-child(1) {
        background-color: hsl(56, 79%, 17%);
      }

      &:nth-child(2) {
        background-color: hsl(123, 76%, 31%);
      }

      &:nth-child(3) {
        background-color: hsl(167, 79%, 17%);
      }
    }
  }
}
